@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}

.my-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.primary-btn {
    border-radius: 5px;
    background: #FACA10;
    box-shadow: 0px 10px 40px -12px rgba(30, 30, 30, 0.35);
    padding: 9px 14px;
}

.border-radius-25 {
    border-radius: 25px;
}

.box-shadow {
    border-radius: 25px;
    border: 8px solid #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

.img2_shadow {
    border-radius: 25px;
    border: 8px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}

/* ======postion==== */
.pos-abs {
    position: absolute;
    bottom: 19%;
    right: 79%;
}

.pos-abs1 {
    position: absolute;
    top: 11%;
    left: 20%;
}

.pos-abs2 {
    position: absolute;
    top: 6%;
    left: 23%;
}

/* ==========z-index====== */

.z-index_-1 {
    z-index: -1;
}

/* ===letter-spacing==== */
.letter-spacing {
    letter-spacing: 0.36px;
}

.letter-spacing-5 {
    letter-spacing: 5%;
}

.letter-spacing-0-12 {
    letter-spacing: 3.12px;
}

/* ===padding===== */
.py-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pt-80 {
    padding-top: 80px;
}

/* ======footer-classes====== */
.footer-line::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #fcdb4f;
    left: 0;
    bottom: 2%;
    z-index: 1;
}

.footer-line:hover::after {
    width: 100%;
    transition: all 300ms linear;
}

.footer-color {
    color: #A5A5A5;
}

.facebook:hover svg path {
    fill: var(--bs-yellow);
}

.twitter:hover svg path {
    fill: var(--bs-yellow);
}

.youtube:hover svg path {
    fill: var(--bs-yellow);
}

.linkedin:hover svg path {
    fill: var(--bs-yellow);
}

.printrest:hover svg path {
    fill: var(--bs-yellow);
}

/* ==========text-line======= */
.class-line {
    width: 100%;
    height: 5px;
    background-color: #FCDB4F;
    position: absolute;
    z-index: -1;
    bottom: 12px;
    left: 0;
}

/* ===max-width===== */

.max-width-624 {
    max-width: 624px;
}

.max-width-1241 {
    max-width: 1241px;
}

.max-width-1227 {
    max-width: 1227px;
}

.max-width-1217 {
    max-width: 1217px;
}

.max-width-580 {
    max-width: 580px;
}

.questionIconBox {
    width: 14px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.getbtn {
    border-radius: 5px;
    background: #FACA10;
    box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
    padding: 9px 22px;
    border: transparent;
}

.nav-line::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 4px;
    background-color: var(--bs-yellow);
    bottom: 5px;
    z-index: -1;

}

.nav-line:hover::after {
    width: 100%;
    transition: all 300ms linear;
}

@media (min-width:992px) {
    .max-lg-width-580 {
        max-width: 580px;
    }

    .py-lg-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .max-lg-width-624 {
        max-width: 624px;
    }

    .line-none {
        display: none;
        display: block;
    }
}

/* nav-bar */
@media (max-width: 991.98px) {

    .mobile_view {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        background-color: #faf8ed;
        transition: 300ms linear;
        flex-direction: column;
        z-index: 3;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .line2,
    .line3,
    .line4 {
        width: 30px;
        min-height: 3px;
        background-color: var(--bs-black);
        transition: 300ms linear;
    }

    .cross .line2 {
        transform: rotate(50deg) translate(17px, 14px);
    }

    .cross .line3 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line4 {
        transform: rotate(-50deg) translateY(-50%);
    }

    .text-align-lg-center {
        text-align: center;
    }
}